<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Persons</title>
</head>
<body>
    <h1>Stored Persons for Face Recognition</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Roll Number</th>
            <th>Image Preview</th>
        </tr>
        {% for person in people %}
        <tr>
            <td>{{ person.name }}</td>
            <td>{{ person.roll_number }}</td>
            <td>
                {% if person.image_paths %}
                    <img src="/{{ person.image_paths.0 }}" width="100" height="100" />
                {% else %}
                    No Image
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
